* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Martian Mono", monospace;
  background-color: black;
  color: white;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

.header {
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  font-size: 14px;
  padding: 7px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: inherit;
}

.clockWall {
  border-bottom: 1px solid white;
}

.clock-am,
.clock-pm {
  display: flex;
  padding: 2vw 1.5vw 3vw;
  flex-direction: column;
  align-items: center;
}

.detail {
  display: flex;
  padding-top: 0.8vw;
  font-size: 15px;
  line-height: 1.1;
}

.clock-am {
  background-color: white;
  color: black;
  border-top: 1px solid black;
}

.clock-pm {
  background-color: black;
  color: white;
  border-top: 1px solid white;
}

.inactive {
  opacity: 20%;
}

.time {
  display: flex;
}

.timeSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vw;
}

.amPM {
  display: flex;
  justify-content: center;
  padding: 1vw 1.5vw 2vw;
  align-items: center;
  margin-top: 2vw;
  width: 6vw;
  height: 6vw;
  border: none;
  border-radius: 5vw;
}

.timeSide .amPM p {
  font-size: 3vw;
  letter-spacing: 0;
  font-weight: 400;
  padding-top: 1vw;
  margin-top: 0;
}

.timeSide p {
  font-size: 7vw;
  font-weight: 200;
  letter-spacing: -0.5vw;
  margin-top: 1.2vw;
}

.time {
  margin: 10px 0 10px;
}

.bigText {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 24vw;
  line-height: 0.8;
  font-weight: 100;
  letter-spacing: -0.5vw;
}

.detail p {
  text-transform: uppercase;
  letter-spacing: 2px;
}
