.App {
  text-align: center;
  text-transform: uppercase;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "alarm clock", sans-serif;
  src: "./alarm clock.ttf";
  font-size: 10px + 2vmin;
  color: limegreen;
}
