* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Martian Mono", monospace;
  background-color: black;
  color: white;
}

h1 {
  padding: 1.5vw 1.5vw 1.5vw;
  font-size: 20px;
  font-weight: 400;
}

.clockWall {
  border-bottom: 1px solid white;
}

.clock-am,
.clock-pm {
  display: flex;
  padding: 1vw 1.5vw 2vw;
  flex-direction: column;
  align-items: left;
}

.amPM {
  display: flex;
  padding-top: 0.8vw;
  font-size: 15px;
  line-height: 1.1;
}

.clock-am {
  background-color: white;
  color: black;
  border-top: 1px solid black;
}

.clock-pm {
  background-color: black;
  color: white;
  border-top: 1px solid white;
}

.inactive {
  opacity: 20%;
}

.bigText {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20vw;
  line-height: 0.8;
  font-weight: 100;
  letter-spacing: -0.5vw;
}

.detail {
  text-transform: uppercase;
  letter-spacing: 2px;
}
