.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-elements {
  border: 2px solid black; /* Combined border styles */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  color: lightgray;
  font-size: 0.9em;

  display: flex; /* Flexbox property */
  align-items: center; /* Vertical centering with Flexbox */
  justify-content: flex-start; /* Align content to the start, equivalent to text-align: left */
}
